RAG_School_Chatbot (2).json
{
  "name": "RAG_School_Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -560,
        400
      ],
      "id": "a483d97f-6dd6-4d31-8777-a204ec1a663c",
      "name": "When chat message received",
      "webhookId": "2533f148-918b-4318-abf8-11097f552c54"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a School Support Assistant.\n\nFor EVERY user question, you MUST first search the knowledge base using the Supabase Vector Store tool.\n\nIf relevant information is found:\n- Answer clearly and concisely in plain text.\n- Do NOT include any JSON or metadata.\n\nIf the user is asking about admissions, enrollment, or shows clear interest in joining the school:\n- Politely share this link on a new line:\nhttps://docs.google.com/forms/d/e/1FAIpQLScFi4caXJyQRsm2vtgp0VzzLLeV2S8jaMXxCmXnYqSQ3eGfWw/viewform?usp=header\n- Explain briefly that it is for a callback or further details.\n\nIf no relevant information is found in the knowledge base, reply ONLY with:\n\"I don’t have this information in my knowledge base.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        400
      ],
      "id": "d72500c3-6251-4088-8374-fe8adee14519",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        624
      ],
      "id": "b6b5f258-c96c-4cc8-8658-6243e0748160",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JhvgYlpRBd9IQEXj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        624
      ],
      "id": "398f9840-2ac0-4bed-8b42-e9520fc277ed",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        0
      ],
      "id": "6347e7b9-8f7c-4016-8166-48f0a068e109",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1r3OLObW-G8Q6LXaqtTkz83dGMgQzf2Q-z4Tb1ANAX58",
          "mode": "list",
          "cachedResultName": "The Iqra School - Knowledge Base(Dummy) (2026)",
          "cachedResultUrl": "https://docs.google.com/document/d/1r3OLObW-G8Q6LXaqtTkz83dGMgQzf2Q-z4Tb1ANAX58/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -96
      ],
      "id": "394fa220-6aab-43c9-87c0-9b60da29ebf4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mm85w63tOSO6e27e",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "school_dummy_faqs_v2",
          "mode": "list",
          "cachedResultName": "school_dummy_faqs_v2"
        },
        "options": {
          "queryName": "match_school_dummy_faqs_v2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        0
      ],
      "id": "ec6718e5-6f95-4e5d-9e48-2391354df150",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "sg5PTXvyVMnVhjcX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        528
      ],
      "id": "d72f705b-4b2b-4447-a580-34eeed627899",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JhvgYlpRBd9IQEXj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search for school policies, student safety, admission details, and fee information from the integrated knowledge base",
        "tableName": {
          "__rl": true,
          "value": "school_dummy_faqs_v2",
          "mode": "list",
          "cachedResultName": "school_dummy_faqs_v2"
        },
        "topK": 5,
        "options": {
          "queryName": "match_school_dummy_faqs_v2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -80,
        624
      ],
      "id": "ac5dbdd5-ff85-4a56-9850-b626acb580c4",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "sg5PTXvyVMnVhjcX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s_UoT-V0tidtcq0bYB6gsXybRc-82id1wN0j5VGgnzI",
          "mode": "list",
          "cachedResultName": "School FAQs Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s_UoT-V0tidtcq0bYB6gsXybRc-82id1wN0j5VGgnzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1418511935,
          "mode": "list",
          "cachedResultName": "SHEET 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s_UoT-V0tidtcq0bYB6gsXybRc-82id1wN0j5VGgnzI/edit#gid=1418511935"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        96
      ],
      "id": "7c2e7e6a-8678-475a-9298-498ca855f710",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ChRyatKjJrxQB7n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        0
      ],
      "id": "296c901d-1f6d-4021-a880-c2cc8f449818",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        656,
        224
      ],
      "id": "706b1193-0a1e-4baf-ae86-629cfcd0e8cf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GO1hGeq9Uguwy2kO7k2wFQB1XTjr-FB5zIbqNec_7P0",
          "mode": "list",
          "cachedResultName": "Parent_Queries_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GO1hGeq9Uguwy2kO7k2wFQB1XTjr-FB5zIbqNec_7P0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 755203769,
          "mode": "list",
          "cachedResultName": "SHEET 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GO1hGeq9Uguwy2kO7k2wFQB1XTjr-FB5zIbqNec_7P0/edit#gid=755203769"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI_Response": "={{ $node[\"AI Agent\"].json.output.text }}\n\n",
            "Timestamp": "={{ $now }}",
            "Parent_Question": "={{ $node[\"When chat message received\"].json[\"chatInput\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parent_Question",
              "displayName": "Parent_Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Response",
              "displayName": "AI_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        400
      ],
      "id": "a92000bd-3f82-4978-a2c2-b887ee822511",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ChRyatKjJrxQB7n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Audit Log:\nSaving every conversation for admin review",
        "height": 128,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        288
      ],
      "typeVersion": 1,
      "id": "1f8568e5-d19b-4fa0-acac-594a0dc5648e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "User Interface:\n Web-based Chatbot for Parent Queries",
        "height": 112,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        288
      ],
      "typeVersion": 1,
      "id": "bceddca6-05b1-4e60-980d-77e484eff8ea",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Vector Embeddings (text-embedding-004):\nConverts school data and user queries into high-dimensional vectors. Connected to both Insert (for storage) and Retrieve (for searching) to ensure data consistency",
        "height": 240,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        400
      ],
      "typeVersion": 1,
      "id": "fbb92d44-d36d-4f79-8ba8-32767080a6f6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Smart Search:\nFinds the best answers from the database based on what the parent asks",
        "height": 128,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        496
      ],
      "typeVersion": 1,
      "id": "a8ec608f-2a0c-4022-8907-1b2b7e95e035",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Knowledge Base Indexing:\nStores processed embeddings into Supabase PostgreSQL. This creates the searchable memory that the chatbot uses to answer questions accurately",
        "width": 304,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -144
      ],
      "typeVersion": 1,
      "id": "8617bf83-0724-45a7-a031-3914875c0b5b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Combines school rules from Google Docs and fee info from Google Sheets into one single list for the A",
        "height": 144,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -128
      ],
      "typeVersion": 1,
      "id": "4b1624b1-5f49-4f0c-aa40-ea5c4faa0ce8",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "51f4e60e-60ea-4f49-a3a1-0b9305ccfb5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f813dc71640718e936b45d5dd3f7f0f6c6a8a68411b7b2e455a8d5337e5eb8"
  },
  "id": "enSbLA6ISVmjN4GqmNoXd",
  "tags": []
}